<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <body>
        <main>
            <% if (messages.length === 0) { %> 
                <h3>No messages to display</h3>
            <% } else { %> 
                <% messages.forEach((message) => { %>

                    <article>
                        <h3>From: <%= message.author %></h3>
                        <p>Added: <%= message.createdAt %></p>
                        <hr />
                        <p><%= message.text %></p>
                    </article>

                <% }) %>
            <% } %>
        </main>
    </body>
</html>