<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %> 
    <body>
        <%- include('./partials/nav') %> 
        <form action="/new" method="POST">
            <div class="form-group">
                <input 
                    type="text" 
                    placeholder="Who is writing this message?"
                    name="author" 
                    id="user" 
                    required/>
            </div>
            
            <div class="form-group">
                <textarea 
                    name="text" 
                    placeholder="Your message"
                    id="message" 
                    required></textarea>
            </div>
            <button>Submit Your Message!</button>
        </form>
    </body>
</html>